
/.idea/
/node_modules/
/cl-navigator.safariextension/fonts/
/cl-navigator.safariextension/img/
/cl-navigator.safariextension/js/
/cl-navigator.safariextension/styles/
/cl-navigator.safariextension/global.html
/cl-navigator.safariextension/popup.html