<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builder Version</key>
	<string>13604.3.5</string>
	<key>CFBundleDisplayName</key>
	<string>CLNavigator</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.clnavigator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DeveloperIdentifier</key>
	<string>Y5Q9KRZT9Z</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
</dict>
</plist>
