<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>City Life</string>
	<key>Builder Version</key>
	<string>13604.5.6</string>
	<key>CFBundleDisplayName</key>
	<string>CLNavigator</string>
	<key>CFBundleIdentifier</key>
	<string>com.CityLife.cl-navigator.safari.CLNavigator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>104857600</integer>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<integer>540</integer>
				<key>Identifier</key>
				<string>popup</string>
				<key>Width</key>
				<integer>440</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>CLNButton</string>
				<key>Image</key>
				<string>img/icon/Icon-64.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>City Life Navigator</string>
				<key>Popover</key>
				<string>popup</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/translate.js</string>
				<string>js/common.js</string>
				<string>js/content.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>styles/modal.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Удобное расширение для получения еще большей прибыли</string>
	<key>DeveloperIdentifier</key>
	<string>Y5Q9KRZT9Z</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update From Gallery</key>
	<true/>
	<key>Website</key>
	<string>https://cl.world</string>
</dict>
</plist>
