<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.CityLife.cl-navigator.safari.CLNavigator</string>
       <key>Developer Identifier</key>
       <string>Y5Q9KRZT9Z</string>
       <key>CFBundleVersion</key>
       <string>1.0.0</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0.0</string>
       <key>URL</key>
       <string>https://cl.world/browser-extensions/safari/cl-navigator.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
