@font-face
{
    font-family: ProximaRegular;

    src: url(../fonts/proxima/ProximaNova-Reg.otf);
}
@font-face
{
    font-family: ProximaBold;

    src: url(../fonts/proxima/ProximaNova-Bold.otf);
}
@font-face
{
    font-family: ProximaLight;

    src: url(../fonts/proxima/ProximaNova-Light.otf);
}
/*Общие*/
body
{
    font-size: 14px;

    margin: 0;
    padding: 0;
}
.modalCL2017,
.popup
{
    /*END Общие*/
    /*Сетка*/
}
.modalCL2017 *,
.popup *
{
    margin: 0;
    padding: 0;
}
.modalCL2017 .wrapper,
.popup .wrapper
{
    font-size: 0;
}
.modalCL2017 a,
.popup a
{
    outline: none;
}
.modalCL2017 a:hover,
.popup a:hover,
.modalCL2017 a:focus,
.popup a:focus,
.modalCL2017 a:active,
.popup a:active
{
    outline: none;
}
.modalCL2017 strong,
.popup strong
{
    font-family: ProximaBold, sans-serif;
}
.modalCL2017 [class^='part-'],
.popup [class^='part-']
{
    font-size: 0;

    display: inline-block;
}
.modalCL2017 .part-30,
.popup .part-30
{
    width: 30%;
}
.modalCL2017 .part-45,
.popup .part-45
{
    width: 45%;
}
.modalCL2017 .part-55,
.popup .part-55
{
    width: 55%;
}
.modalCL2017 .part-70,
.popup .part-70
{
    width: 70%;
}
.modalCL2017 .bottomPadding,
.popup .bottomPadding
{
    width: 100%;
    height: 40px;
}
/*END Сетка*/
.popup .button-cl
{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;

    display: inline-block;

    padding: 12px 36px;

    transition: all .3s;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;

    border-radius: 6px;
    outline: none;
}
.popup .button-cl:hover,
.popup .button-cl:focus,
.popup .button-cl:active
{
    outline: none;
    background-color: #ff186e;
}
.popup .button-cl_blue
{
    color: #fff !important;
    border: 1px solid #076bd2;
    background: #0370ea;
    background-image: linear-gradient(to bottom, #008dfd 0%, #0370ea 100%);
    text-shadow: 1px 1px 1px #076bd2;
}
.popup .button-cl_pink
{
    color: #fff !important;
    background: #ff186e;
    background-image: linear-gradient(to right, #ff7532 0%, #ff186e 100%);
    box-shadow: 0 15px 30px 0 rgba(243, 82, 0, .55);
    text-shadow: 1px 1px 1px #ff7532;
}
.popup .button-cl_pink:hover,
.popup .button-cl_pink:focus,
.popup .button-cl_pink:active
{
    color: #fff;
    outline: none;
    background-image: linear-gradient(to right, #ff7532 0%, #ff186e 50%, #ff7532 100%);
    box-shadow: 0 20px 35px 0 rgba(243, 82, 0, .65);
}
.popup .button-cl__wrapper
{
    display: inline-block;

    width: 100%;
    padding: 10px 0;

    text-align: center;
}
.popup .button-cl_glass
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    -webkit-transition: all .2s ease-in-out;
    transition-timing-function: ease;
    transition-duration: .6s;
    transition-property: all;
    letter-spacing: 1px;
}
.popup .button-cl_glass:hover:after
{
    left: 120%;

    transition: all 550ms cubic-bezier(.19, 1, .22, 1);
}
.popup .button-cl_glass span
{
    z-index: 20;

    border-bottom: none;
}
.popup .button-cl_glass:after
{
    position: absolute;
    z-index: 10;
    top: -50px;
    left: -75px;

    width: 50px;
    height: 155px;

    content: '';
    transition: all 550ms cubic-bezier(.19, 1, .22, 1);
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);

    opacity: .2;
    background: #fff;
}
.popup .tabs__buttons
{
    display: -webkit-flex;
    display:         flex;

    height: 0;

    -webkit-justify-content: space-around;
            justify-content: space-around;
}
.popup .tabs__button-wrap
{
    -webkit-flex-grow: 1;
            flex-grow: 1;
}
.popup .tabs__button-wrap .tabs__button
{
    margin-right: -1px;
}
.popup .tabs__button-wrap:last-of-type .tabs__button
{
    margin-right: 0;
    /* проверка отображения коммента */
}
.popup .tabs__button
{
    padding: 0;

    text-align: center;

    border: 1px solid #7777b9;
}
.popup .tabs__button:hover
{
    background-color: #a4b9e7;
}
.popup .tabs__button:focus,
.popup .tabs__button:active,
.popup .tabs__button.active
{
    border-bottom-color: transparent;
    background-color: #a4b9e7;
}
.popup .tabs__content
{
    position: relative;

    box-sizing: border-box;
    height: 395px;
    padding: 0 17px;

    background-color: #fff;
}
.popup .tabs__body
{
    display: none;

    max-height: 365px;
}
.popup .tabs__body.active
{
    display: block;
}
.popup .search
{
    display: inline-block;

    width: 100%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 7px;

    transition: all .3s;
}
.popup .search__wrap
{
    position: relative;
    z-index: 400;

    width: 100%;
    margin-right: -17px;
    margin-left: -17px;
    padding-right: 17px;
    padding-left: 17px;

    background: #fff;
}
.popup .search__form
{
    position: relative;
}
.popup .search__form-autocomplete
{
    overflow: auto;
}
.popup .search__clear
{
    font-family: arial, sans-serif;
    font-size: 20px;

    position: absolute;
    top: 12px;
    right: 19px;

    display: none;

    width: 15px;
    height: 18px;

    cursor: pointer;
    text-align: center;

    color: #ccc;
}
.popup .search__clear:hover
{
    color: #000;
}
.popup .search__field
{
    font-size: 18px;

    position: relative;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-right: 45px;
    padding-left: 45px;

    color: #979797;
    border: 1px solid #b5b5b5;
    border-radius: 30px;
    outline: 0;
    background: #fff;
}
.popup .search__field::-webkit-input-placeholder
{
    font-family: ProximaBold, sans-serif;
    font-size: 13px;
    line-height: 25px;

    text-transform: uppercase;

    color: #b6b6b6;
}
.popup .search__field::-moz-placeholder
{
    font-size: 13px;
    line-height: 25px;

    text-transform: uppercase;

    color: #b6b6b6;
}
.popup .search__field:-moz-placeholder
{
    font-family: ProximaBold, sans-serif;
    font-size: 13px;
    line-height: 25px;

    text-transform: uppercase;

    color: #b6b6b6;
}
.popup .search__field:-ms-input-placeholder
{
    font-family: ProximaBold, sans-serif;
    font-size: 13px;
    line-height: 25px;

    text-transform: uppercase;

    color: #b6b6b6;
}
.popup .search__icon
{
    position: absolute;
    top: 13px;
    left: 13px;

    width: 25px;
    height: 26px;

    background: url('../img/search.png') no-repeat;
}
.popup .search-list__wrap
{
    z-index: 200;

    overflow: auto;

    box-sizing: border-box;
    height: 325px;
    margin-right: -17px;
    margin-left: -17px;
    padding: 0;
}
.popup .search-list__wrap::-webkit-scrollbar
{
    display: none;
}
.popup .search-list__h2
{
    font-size: 16px;
    font-weight: bold;

    margin-bottom: 10px;
    padding: 10px 0 10px 20px;

    text-align: left;
    text-transform: uppercase;

    color: #37343c;
}
.popup .search-list__content
{
    margin-top: 10px;
    margin-bottom: 30px;
}
.popup .search-list__content_last
{
    display: none;

    padding-top: 20px;
}
.popup .search-list__white-shadow
{
    position: relative;
    z-index: 300;
    top: -15px;

    box-shadow: 0 10px 20px 25px #fff;
}
.popup .search-list__white-shadow_to-top
{
    top: initial;
    bottom: -25px;

    box-shadow: 0 -20px 20px 20px #fff;
}
.popup .list-item
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 70px;
    margin: 0;

    list-style-type: none;

    text-decoration: none;

    color: #797979;
    border-bottom: 1px solid #ddd;
}
.popup .list-item:hover
{
    cursor: pointer;

    background-color: rgba(204, 204, 204, .23);
}
.popup .list-item__link
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-right: 17px;
    padding-left: 17px;

    text-decoration: none;

    color: inherit;
}
.popup .list-item__inner
{
    position: relative;

    display: -webkit-flex;
    display:         flex;

    height: 100%;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.popup .list-item__label
{
    font-size: 12px;

    display: -webkit-flex;
    display:         flex;

    -webkit-flex-basis: 70%;
            flex-basis: 70%;
    -webkit-align-items: center;
            align-items: center;
}
.popup .list-item__picture
{
    max-width: 90%;
    max-height: 55px;
}
.popup .list-item__picture-wrap
{
    width: 140px;
    min-width: 140px;
}
.popup .list-item__name
{
    font-size: 14px;

    color: #919191;
}
.popup .list-item__info
{
    line-height: 25px;

    display: -webkit-flex;
    display:         flex;
            flex-direction: column;

    -webkit-flex-basis: 30%;
            flex-basis: 30%;
    -webkit-align-items: flex-end;
            align-items: flex-end;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
}
.popup .list-item__cashback
{
    font-family: ProximaBold, sans-serif;
    font-size: 14px;
    font-weight: bold;

    text-align: right;

    color: #474747;
}
.popup .list-item__value
{
    font-family: ProximaBold, sans-serif;
    font-size: 22px;
    font-weight: 800;

    display: block;

    color: #fe2765;
}
.popup
{
    font-family: ProximaRegular, sans-serif;

    display: -webkit-flex;
    display:         flex;
            flex-direction: column;

    width: 440px;
    height: 540px;
    padding: 0;

    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.popup__head
{
    display: -webkit-flex;
    display:         flex;

    height: 100%;

    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
}
.popup__head-wrap
{
    height: 78px;
    padding: 0 17px;

    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #2a2934;
}
.popup__body
{
    position: relative;
}
.popup__body-wrap
{
    height: 397px;
}
.popup__footer
{
    display: -webkit-flex;
    display:         flex;

    height: 100%;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.popup__footer .all-shops
{
    font-size: 16px;
    font-weight: bold;

    text-decoration: none;

    color: #007aff;
    border-bottom: 1px dotted #007aff;
}
.popup__footer .signature
{
    font-size: 11px;
    font-weight: bold;

    margin-top: 3px;

    text-align: right;
}
.popup__footer-wrap
{
    position: relative;
    z-index: 400;

    height: 65px;
    padding: 0 17px;

    background-color: #fff;
}
.popup .partner
{
    position: absolute;
    z-index: 500;
    top: 10px;
    left: 10px;

    display: none;
    overflow: hidden;
            flex-direction: column;

    box-sizing: border-box;
    width: calc(80%);
    padding: 20px 25px;

    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .23);

    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.popup .partner__header
{
    display: -webkit-flex;
    display:         flex;

    box-sizing: border-box;
    height: 100%;
    padding-bottom: 5px;

    border-bottom: 1px solid rgba(151, 151, 151, .2);

    -webkit-align-items: flex-end;
            align-items: flex-end;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.popup .partner__header .label
{
    display: -webkit-flex;
    display:         flex;
            flex-direction: column;

    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-direction: column;
}
.popup .partner__header .info
{
    list-style-type: none;

    text-align: left;
}
.popup .partner__header .info__wrap
{
    display: -webkit-flex;
    display:         flex;

    -webkit-justify-content: flex-end;
            justify-content: flex-end;
}
.popup .partner__header-wrapper
{
    position: relative;
    z-index: 400;

    box-sizing: border-box;
    height: 75px;
}
.popup .partner__body
{
    display: -webkit-flex;
    display:         flex;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 100%;
}
.popup .partner__body::-webkit-scrollbar
{
    display: none;
}
.popup .partner__body-wrapper
{
    box-sizing: border-box;
    height: 230px;
}
.popup .partner__footer
{
    position: relative;

    display: -webkit-flex;
    display:         flex;

    height: 100%;
    padding-top: 8px;

    border-top: 1px solid rgba(151, 151, 151, .2);

    -webkit-align-items: center;
            align-items: center;
}
.popup .partner__footer .cashback-active
{
    position: absolute;
    z-index: 30;
    top: 0;

    display: none;

    width: 100%;
    height: 100%;
    margin-top: 0;

    text-transform: uppercase;

    color: #fff;
    border-bottom: 24px solid #fff;
    background: #2cc79d;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.popup .partner__footer-wrapper
{
    position: relative;
    z-index: 400;

    box-sizing: border-box;
    height: 50px;
}
.popup .partner__logo
{
    max-width: 100%;
    max-height: 55px;
}
.popup .partner__name
{
    font-family: ProximaRegular, sans-serif;
    font-size: 18px;

    width: 100%;

    color: #4f4f4f;
}
.popup .partner__url
{
    font-family: ProximaRegular, sans-serif;
    font-size: 14px;

    color: #919191;
}
.popup .partner__cashback
{
    font-family: ProximaBold, sans-serif;
    font-size: 22px;

    text-transform: lowercase;

    color: #676a82;
}
.popup .partner__cashback span
{
    font-weight: bold;

    color: #fe2765;
}
.popup .partner__description
{
    font-size: 16px;

    padding: 20px 0;
}
.popup .partner__close-icon
{
    position: absolute;
    z-index: 600;
    top: -9px;
    right: -8px;

    width: 50px;
    height: 50px;

    cursor: pointer;
    transition: box-shadow .2s;

    border-radius: 50%;
    background: url(../img/close-partner.png) center no-repeat;
    box-shadow: inset 0 0 0 0 rgba(117, 117, 117, .22);
}
.popup .partner__close-icon:hover,
.popup .partner__close-icon:focus,
.popup .partner__close-icon:active
{
    box-shadow: inset 0 0 0 23px rgba(117, 117, 117, .22);
}
.popup .user
{
    font-family: ProximaBold, sans-serif;
    font-size: 14px;

    display: -webkit-flex;
    display:         flex;

    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.popup .user__login-link
{
    font-size: 14px;

    display: -webkit-flex;
    display:         flex;

    padding: 15px 30px;

    cursor: pointer;
    text-align: right;
    text-decoration: none;
    text-transform: initial;

    color: #fff;
    border: 1px solid #fe2765;
    border-radius: 6px;

    -webkit-align-items: center;
            align-items: center;
}
.popup .user__login-link:hover,
.popup .user__login-link:focus,
.popup .user__login-link:active
{
    background-color: #fe2765;
}
.popup .user__login-link_logged
{
    padding: 15px 15px 15px 30px;

    border: none;
}
.popup .user__login-link_logged:hover,
.popup .user__login-link_logged:focus,
.popup .user__login-link_logged:active
{
    background-color: transparent;
}
.popup .user__icon
{
    margin-right: 4px;
}
.popup .user__name
{
    overflow: hidden;

    max-width: 125px;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.popup .user__cash
{
    display: -webkit-flex;
    display:         flex;

    -webkit-align-items: center;
            align-items: center;
}
.popup .user__cash-icon
{
    margin-right: 8px;
}
.popup .user__cash-value
{
    font-size: 16px;
}
