@font-face {
	font-family: ProximaRegular;
	src: url(../fonts/proxima/ProximaNova-Reg.otf);
}

@font-face {
	font-family: ProximaBold;
	src: url(../fonts/proxima/ProximaNova-Bold.otf);
}

@font-face {
	font-family: ProximaLight;
	src: url(../fonts/proxima/ProximaNova-Light.otf);
}
