@import  "_fonts";

.modalCL2017 {
	position: fixed;
	top: 10px;
	right: 10px;
	font-family: ProximaRegular, sans-serif;
	box-shadow: 0 0 20px 0 #717171;
	border-radius: 6px;
	width: 330px;
	//height: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: #fbfbfb;
	z-index: 99999999999;
	opacity: 0;
	$animation-time: 0.8s;
	-webkit-animation: fadein $animation-time; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein $animation-time; /* Firefox < 16 */
	-ms-animation: fadein $animation-time; /* Internet Explorer */
	-o-animation: fadein $animation-time; /* Opera < 12.1 */
	animation: fadein $animation-time;
	overflow: hidden;

	@keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* Firefox < 16 */
	@-moz-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* Internet Explorer */
	@-ms-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* Opera < 12.1 */
	@-o-keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&__header {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		height: 70px;
		border-bottom: 1px solid #636363;
		padding: 10px 20px;
		box-sizing: border-box;
		background: #2a2934;
		color: #fff;
	}

	.cl-close {
		width: 30px;
		height: 30px;
		cursor: pointer;
		margin-right: -8px;

		background: url('https://clcorp.ru/images/extenion/close-gray.png') center no-repeat;
		transition: all 0.3s;

		&:hover {
			transform: scale(1.1);
		}

	}

	&__body {
		display: flex;
		width: 100%;
		height: 155px;
		padding: 30px 20px 20px 20px;
		box-sizing: border-box;
	}

	&__footer {
		display: flex;

		position: relative;
		width: 100%;
		align-items: center;
		justify-content: center;
		height: 120px;
		padding: 0 20px;
		box-sizing: border-box;

		.cashback-active {
			display: none;
			//display: flex;
			position: absolute;
			justify-content: center;
			align-items: center;
			background: url('https://clcorp.ru/images/extenion/check-icon.png') 20px center no-repeat, linear-gradient(to right, #2CC79D 0%, #26B890 100%) no-repeat center;
			width: 100%;
			height: 100%;
			z-index: 200;
			color: #ffffff;
			font-size: 22px;
			font-weight: bold;
			text-transform: uppercase;
			padding-left: 115px;
			box-sizing: border-box;
			line-height: 27px;
		}
	}

	.cl-partner {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		&__logo {
			max-width: 140px;
			max-height: 105px;
		}

		&__info {
			width: 130px;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			align-items: flex-end;
		}

		&__link {

		}

		.cashback-label {
			font-size: 18px;
			font-weight: bold;
			text-transform: lowercase;
			color: #4E4F59;
			line-height: 25px;

		}

		.cashback-value {
			font-size: 25px;
			font-weight: 700;
			color: #FE2765;
			line-height: 25px;
		}
	}

	.button-cl {
		display: inline-block;
		padding: 15px 30px;
		text-transform: uppercase;
		outline: none;
		transition: all 0.3s;
		line-height: 1.3;
		text-align: center;
		text-decoration: none !important;
		border-radius: 6px;
		font-size: 16px;
		font-weight: bold;

		&:hover,
		&:focus,
		&:active {
			background-color: #ff186e;
			outline: none;
		}

		&_pink {
			background: #ff186e;
			background-image: linear-gradient(to right, #FF7532 0%, #ff186e 100%);
			color: #fff;
			box-shadow: 0 15px 30px 0 rgba(243, 82, 0, 0.55);
			transition: all 0.3s;

			&:hover,
			&:focus,
			&:active {
				color: #fff;
				background-image: linear-gradient(to right, #FF7532 0%, #ff186e 50%, #FF7532 100%);
				outline: none;
				box-shadow: 0 20px 35px 0 rgba(243, 82, 0, 0.65);
			}
		}

		&_glass {
			position: relative;
			transition-property: all;
			transition-duration: .6s;
			transition-timing-function: ease;
			overflow: hidden;
			display: inline-block;
			letter-spacing: 1px;
			-webkit-transition: all 0.2s ease-in-out;

			&:hover {

				&:after {
					left: 120%;
					transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
				}
			}

			span {
				z-index: 20;
				border-bottom:none;
			}

			&:after {
				background: #fff;
				content: "";
				height: 155px;
				left: -75px;
				opacity: .2;
				position: absolute;
				top: -50px;
				transform: rotate(35deg);
				transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
				width: 50px;
				z-index: 10;
			}
		}

		&__wrapper {
			display: inline-block;
			width: 100%;
			padding: 33px 0 35px;
			border-top: 1px solid rgba(151, 151, 151, 0.3);
			text-align: center;
			margin-bottom: -1px;
		}

	}

	.cl-logo {
		display: flex;
		max-height: 100%;
		align-items: center;
		justify-content: space-between;
		width: 100px;
		background-color: transparent!important;

		&__img {
			max-width: 100px;
			max-height: 50px;
		}

		&__title {

		}

	}

	.cashback-no-link {
		cursor: default;
		width: 100%;
		background: green;
		border: 1px solid green;
	}

	&_remodal {
		z-index: 99999999999;

		.reactivation {
			position: absolute;
			top: 10px;
			display: flex;
			width: 100%;
			height: 15px;
			padding: 0;
			font-size: 12px;
			background: none;
			color: red;
			text-align: center;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			text-transform: uppercase;
			box-sizing: border-box;
			line-height: 27px;
			z-index: 200;
		}
	}

}


.test1 {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
	z-index: 9999;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
	background-color: #0b27ff;
}



.test2 {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
	z-index: 9999;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
	background-color: #4bfff8;
}